# Objects and Data Structures Assessment Test

## Test your knowledge. 

**Answer the following questions**

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers:consists of two types integars and floats ,we can do artihmatic and assignment operations on them.

Strings:responsible for the text or character or even the numbers but treated like text,we can concatenate or repeat using + and * on them ,also we can use the build in methods on them like len,upper,lower,capitalize,title,endwith,startwith,strip,split,join,sorted,fotmat. 

Lists:defined by var_name = [] ,it can contains many inputs inside it for futher use in any type.

Tuples:they are similar to lists but they are immutable and defined by ()

Dictionaries:defined by {} similar like lists but with key to define each value

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [6]:
print( 10 ** 2 * 4  / 2  + 10.25 - 110 )

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) = 4 * 11 = 44
    
    What is the value of the expression 4 * 6 + 5 = 24 + 5 = 29
    
    What is the value of the expression 4 + 6 * 5 = 4 + 30 = 34

In [13]:
4 * (6 + 5)

44

In [12]:
4 * 6 + 5

29

In [11]:
4 + 6 * 5

34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br> float

What would you use to find a numberâ€™s square root, as well as its square?

In [14]:
# Square root:
x**0.5

10.012492197250394

In [15]:
# Square:
x**2

10050.0625

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [20]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

Reverse the string 'hello' using slicing:

In [18]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [21]:
s ='hello'
# Print out the 'o'

# Method 1:
s[4]

'o'

In [22]:
# Method 2:
s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [23]:
# Method 1:
x=[0,0,0]

In [31]:
# Method 2:
x=[i*0 for i in range(3)]
print(x)

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [34]:
list3 = [1,2,[3,4,'hello']]
list3[2][2]='goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [42]:
list4 = [5,3,4,6,1]
list4.sort()
print(list4)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [44]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [45]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [49]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [62]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br> no ,becaue they are mapped not sequenced in a specific position.

## Tuples

What is the major difference between tuples and lists?<br><br>tuples are immutable

How do you create a tuple?<br><br>x=()

## Sets

What is unique about a set?<br><br>has no repeatation

Use a set to find the unique values of the list below:

In [63]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [65]:
# Answer before running cell
2 > 3 #False

False

In [66]:
# Answer before running cell
3 <= 2 #False

False

In [67]:
# Answer before running cell
3 == 2.0 #False

False

In [68]:
# Answer before running cell
3.0 == 3 #True

True

In [69]:
# Answer before running cell
4**0.5 != 2 #False

False

Final Question: What is the boolean output of the cell block below?

In [70]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']  # 3 >= 4 False

False

# Great Work!